<div class="my-div-color">
  <h1 style="text-align: center;">Persistencia Políglota con <br> Docker
    <img  style="min-width: 20%;" src="../assets/docker.png" alt="Docker">
  </h1>
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" #name>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="age">Edad</label>
          <input type="number" class="form-control" id="age" #age>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"> 
        <button type="button" (click)="postUser(name.value, age.value)" class="btn btn-primary">Agregar</button>&nbsp;
          <button type="button" (click)="deletedUsers(selectecDB)" class="btn btn-danger my-color-boton">Eliminar</button></div>
      <div class="col-md-2" *ngFor="let db of namesDbs">
        <label class="my-margin" for= {{db.name}}>
          <input type="radio" id= {{db.name}} name="motor" #pp  [(ngModel)]="selectecDB" value= {{db.name}} (click)="getUsers(pp.id)">
          {{db.name | titlecase}} <img class="my-img" src={{db.img}} alt={{db.name}}></label>
      </div>
    </div>
  </form><br>
  <div *ngIf="people.length">
    <h3>Personas en {{selectecDB | titlecase}} <b class="h4">(cant: {{people.length}})</b></h3>
  <div class="row">
    <div class="col-md-3" *ngFor="let person of people">
     <div style="margin: 1%;"> <p class="my-color2">{{person.name}} - {{person.age}}</p></div>
    </div>
  </div>
  </div>
</div>