<div>
  <br>
  <h3>Persistencia en Docker</h3>
  <form>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" #name>
    </div>
    <div class="form-group">
      <label for="age">Edad</label>
      <input type="number" class="form-control" id="age" #age>
    </div>
    <button type="button" (click)="addPerson(name.value, age.value)" class="btn btn-primary">Agregar</button>

    &nbsp;&nbsp;&nbsp;
    <!-- <mat-form-field>
      <mat-label>Motor de BD</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="mongo">Mongo</mat-option>
        <mat-option value="redis">Redis</mat-option>
      </mat-select>
    </mat-form-field> -->

      <input type="radio" id="mongo" name="motor" [(ngModel)]="flag" value="mongo" (click)="getAllPeopleMongo()">
      <label class="my-margin" for="mongo">Mongo</label>&nbsp;
      <input type="radio" id="redis" name="motor" [(ngModel)]="flag" value="redis" (click)="getAllPeopleRedis()">
      <label class="my-margin" for="redis">Redis</label>&nbsp;
      <input type="radio" id="mysql" name="motor" [(ngModel)]="flag" value="mysql" (click)="getAllPeopleMysql()">
      <label class="my-margin" for="mysql">MySQL</label>&nbsp;
      <input type="radio" id="neo4j" name="motor" [(ngModel)]="flag" value="neo4j">
      <label class="my-margin" for="neo4j">Neo4j</label><br>
  </form>
  
  <br>
  <h3>Personas en {{nameDB}}</h3>
  <!-- Bootstrap Card -->
  <div class="card card-block col-md-3" *ngFor="let person of people">
    <h4 class="card-title" style="text-align: center;">{{person.name}} - {{person.age}}</h4> <br>
  </div>
</div>